<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "edu.mayo.nextgenmodprototype"
	versionCode=""
	version   = "1">
	<name>MOD Prototype 2017</name>

	<description>
	</description>

	<author href="" email="">

	</author>

	<preference name="phonegap-version" value="cli-6.5.0" />          <!-- all: current version of PhoneGap -->
	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="false" />
	<preference name="target-device" value="universal" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="true" />
	<preference name="ios-statusbarstyle" value="default" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="EnableViewportScale" value="true" />
	<preference name="MediaPlaybackRequiresUserAction" value="false" />
	<preference name="AllowInlineMediaPlayback" value="false" />
	<preference name="BackupWebStorage" value="cloud" />
	<preference name="TopActivityIndicator" value="gray" />
	<preference name="KeyboardDisplayRequiresUserAction" value="false" />
	<preference name="HideKeyboardFormAccessoryBar" value="false" />
	<preference name="SuppressesIncrementalRendering" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="internalOnly" />
	<preference name="SplashScreenDelay" value="5000" />
	<preference name="ErrorUrl" value=""/>
	<preference name="BackgroundColor" value="0x000000"/>
	<preference name="KeepRunning" value="true"/>
	<preference name="DisallowOverscroll" value="false"/>
	<preference name="LoadingDialog" value=","/> 
	<preference name="LoadUrlTimeoutValue" value="20000" />
	<preference name="disable-cursor" value="false" />
	<gap:platform name="android" />
	<gap:plugin name="org.apache.cordova.console" source="npm" />
	<gap:plugin name="org.apache.cordova.contacts" source="npm" />
	<gap:plugin name="org.apache.cordova.device" source="npm" />
	<gap:plugin name="org.apache.cordova.device-orientation" source="npm" />
	<gap:plugin name="org.apache.cordova.device-motion" source="npm" />
	<gap:plugin name="org.apache.cordova.dialogs" source="npm" />
	<gap:plugin name="org.apache.cordova.file-transfer" source="npm" />
	<gap:plugin name="org.apache.cordova.geolocation" source="npm" />
	<gap:plugin name="org.apache.cordova.globalization" source="npm" />
	<gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
	<gap:plugin name="org.apache.cordova.media" source="npm" />
	<gap:plugin name="org.apache.cordova.media-capture" source="npm" />
	<gap:plugin name="org.apache.cordova.network-information" source="npm" />
	<gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
	<gap:plugin name="com.moust.cordova.videoplayer" source="pgb" />
	
	<feature name="VideoPlayer" >
		<param name="android-package" value="com.dawsonloudon.videoplayer"/>
	</feature>
	
	<icon src="icon.png" />
	<icon src="res/icon-96-xhdpi.png" platform="android" qualifier="xhdpi" />
	<icon src="res/icon-192-xxxhdpi.png" platform="android" qualifier="xxxhdpi" />

	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
</widget>